<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        RW Engineering
      {% endblock title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"/>
    <style>
      .form-group {
        margin-bottom: 1rem;
      }
      .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }
      .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
      }
      .form-row > .col {
        padding-left: 5px;
        padding-right: 5px;
      }
      label {
        margin-bottom: 0.5rem;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          {% block brand %}
            RW Engineering
          {% endblock brand %}
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--Main Nav-->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">Projects</a>
              <ul class="dropdown-menu">
                <li>
                  <span class="dropdown-item text-body-emphasis disabled">
                    2021-2022</span
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Sandwich</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <span class="dropdown-item text-body-emphasis disabled">
                      2022-2023</span
                      >
                    </li>
                    <li>
                      <a href="#" class="dropdown-item">Golf Cart Project</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">RWCP</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Blog</a>
                </li>
              </ul>
              <div class="nav-item d-inline-flex py-2">
                <i class="bi bi-brightness-high-fill"></i>
                <div class="form-check form-switch mx-3" style="transform: scale(1.5)">
                  <input onclick="const root = document.querySelector(':root'); if(root.getAttribute('data-bs-theme') == 'light'){ root.setAttribute('data-bs-theme', 'dark'); }else{ root.setAttribute('data-bs-theme', 'light'); }"
                         class="form-check-input"
                         type="checkbox"
                         role="switch"
                         id="flexSwitchCheckDefault"/>
                </div>
                <i class="bi bi-moon-stars nav-item e-auto ps-0"
                   style="transform: translate3d(-12.5px, 0px, 0px)"></i>
              </div>
              <div class="ms-3 nav-item d-xl-inline-flex">
                {% if user.username %}
                  <p class="m-0 p-0">Logged in as&MediumSpace;</p>
                  <a href="#">{{ user.username }}</a>
                {% else %}
                <p class="m-0 pe-2">Dont have an account?&MediumSpace;<a href="#">Sign up</a></p>
                </div>
                  <a href="#" class="btn btn-primary">Log in</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
        {% block header %}
        <style> .carousel { margin-bottom: 4rem; } .carousel-caption { bottom: 3rem; z-index: 10; } .carousel-item { height: 32rem; } .marketing .col-lg-4 { margin-bottom: 1.5rem; text-align: center; } .marketing .col-lg-4 p { margin-right: .75rem; margin-left: .75rem; } .featurette-divider { margin: 5rem 0; } .featurette-heading { letter-spacing: -.05rem; } @media (min-width: 40em) { .carousel-caption p { margin-bottom: 1.25rem; font-size: 1.25rem; line-height: 1.4; } .featurette-heading { font-size: 50px; } } @media (min-width: 62em) { .featurette-heading { margin-top: 7rem; } } </style>
        <div id="headerCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#headerCarousel" data-bs-slide-to="0" class="bg-light active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#headerCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="bg-light"></button>
            <button type="button" data-bs-target="#headerCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="bg-light"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <svg width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#444"></rect></svg>
              <div class="container">
                <div class="carousel-caption text-center">
                  <h1>Lorem, ipsum dolor.</h1>
                  <p class="text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, reiciendis?</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Latest Blog</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#444"></rect></svg>
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Lorem, ipsum dolor.</h1>
                  <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dignissimos ipsam exercitationem placeat est. Porro nisi excepturi pariatur cum incidunt illo nostrum ipsa hic dolore.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">My Projects</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#444"></rect></svg>
              <div class="container">
                <div class="carousel-caption text-center">
                  <h1>Lorem, ipsum dolor.</h1>
                  <p class="text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, reiciendis?</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Websites</a></p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" data-bs-target="#headerCarousel" type="button"  data-bs-slide="prev">
            <i class="bi bi-caret-left" style="transform:scale(2);" aria-hidden="true"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" data-bs-target="#headerCarousel" type="button"  data-bs-slide="next">
            <i class="bi bi-caret-right" style="transform:scale(2);" aria-hidden="true"></i>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        {% endblock header %}
        {% block content %}
        {% endblock content %}
      </body>
    </html>
